body {
  --nunito: Nunito, "Segoe UI", -apple-system, BlinkMacSystemFont, sans-serif;
  --sans: "Segoe UI", "Open Sans", -apple-system, BlinkMacSystemFont, sans-serif;
  --primary: rgb(15, 145, 210);
  --secondary: rgb(240, 131, 185);
  --grey: #777;
  background-color: #eee;
  font-weight: 100;
  font-size: 16px;
  /* font-family: var(--sans); */
  font-family: var(--nunito);
  font-weight: 200;
}
strong {
  font-weight: 400;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
a {
  color: rgb(0, 140, 205);
  /* filter: brightness(0.9); */
}
a:visited {
  color: rgb(0, 60, 140);
}
