body {
  --nunito: Nunito, "Segoe UI", -apple-system, BlinkMacSystemFont, sans-serif;
  --sans: "Segoe UI", "Open Sans", -apple-system, BlinkMacSystemFont, sans-serif;
  --primary: rgb(21, 150, 215);
  --secondary: rgb(240, 131, 185);
  --grey: #666;
  background-color: #eee;
  font-weight: 100;
  font-size: 16px;
  /* font-family: var(--sans); */
  font-family: var(--nunito);
  font-weight: 200;
}
strong {
  font-weight: 400;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
a {
  color: var(--primary);
}
a:visited {
  color: rgb(0, 60, 140);
}
